body {
    background-image: url("/static/assets/img/alunoonline/fundo.jpg");
    background-size: cover;
}

.botaoLogin {
    color:white;
    background-color: darkgray;
    border-color: darkgray;
    word-wrap: normal;
}

.botaoLogin:hover {
    background-color: gray;
    border-color:gray;
    
}